/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer components {
  .violetbutton {
    @apply bg-violet text-white rounded-[0.4rem];
  }
  .basicinput {
    @apply h-[4.8rem] rounded-[0.6rem] border-[0.1rem] border-gray_D9D9D9  px-[1.6rem];
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

html,
body {
  font-size: 62.5%;
  font-family: 'Pretendard';
  background-color: #fafafa;
}
